@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  background-image: url(../Assets/Hero-bg.png);
  height: 80vh;
  background-position: center;
  background-size: cover;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.btn {
  background: #4e47ff;
  color: white;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  padding:;
}
.hero {
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
}
